html {
    scroll-behavior: smooth;
  }
.encabezado {
    text-align: center;
    padding: 5% 3% 3% 3%;

}

@media (max-width: 1234px) {
    .encabezado {
        text-align: center;
        padding: 10% 3% 3% 3%;

    }
}

@media (max-width: 632px) {
    .encabezado {
        text-align: center;
        padding: 15% 3% 3% 3%;

    }
}

.col-4 {
    padding: 30px;
    text-align: center;
}

.imgenes {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    overflow: clip;
}

@media (max-width: 812px) {
    .imagenes {
        max-width: 100%;
        max-height: 100%;
        border-radius: 15px;


    }
}

textarea {
    resize: none;
    width: 100%;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

.copy {
    text-align: center;
}

.col-6 {
    text-align: center;
}

.parrafo {
    text-align: center;
    margin: 10px;
}

.portfoliofonfo {
    justify-content: center;
    margin-top: 20%;
}

p {
    margin: 25px 10px;
}

.parrafo1 {
    margin: 5px;
    color: white;
    margin-bottom: 1%;
}

.tituloPrincipal {
    margin: 5px;
    color: white;
    font-size: 200%;
    padding: 15px 15px 0px 15px;
}

.colorNav {
    color: white !important;
}

.bg-success {
    --bs-bg-opacity: 1;
    background-color: #2C3E50 !important;
}

.parrafoPad {
    padding: 20px 10px 41px 10px;
    color: white;
}

#acercaDeMi {
    color: white;
    padding: 15px;
    margin-top: 15px;
}

.contenedorPort {
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;

}

.imagen1 {
    top:0;
    left:0;
}
.imagen2 {
    top:0;
    left:0;
    z-index: 0;
}
.imagen3{
    top:0;
    left:0;
    z-index:0;
}

.imagen1:hover {
    top:0;
    left:0;
    transform: scale(1.1);
    transition: 0.5s;
}
.imagen2:hover {
    top:0;
    left:0;
    z-index: 0;
    transform: scale(1.1);
    transition: 0.5s;
}
.imagen3:hover {
    top:0;
    left:0;
    z-index:0;
    transform: scale(1.1);
    transition: 0.5s;
}



@media (max-width: 768px){
    .imagen1, .imagen2,.imagen3{
        position: relative;
        width: 100%;
        z-index: 0;
    }
}


.contenedorAcerca {
    margin-top: 5%;
    margin-bottom: 5%;
}

.barra {
    margin: 3% 0;
}

.botoncon {
    padding-bottom: 10%;
    padding-left: 0.5%;

}

footer {
    margin-top: 5%;
}

.barraMensaje {
    margin-bottom: 1%;
}

.direcciontext {
    margin: 1%;
}

.radioAcercadeMi {
    border-radius: 20px;
}

@media (min-width: 812px) {
    .contenedorBarras {
        margin: 5% auto;
        width: 50%;
    }
}

@media (min-height: 1274px) {
    .contenedorBarras {
        margin: 5% auto;
        width: 50%;
    }
}


.contenedorNav {
    position: relative;
    z-index: 1;
}